@inherits System.Web.Mvc.WebViewPage<NerdDinner.Models.Dinner>

@{
    View.Title = "Host a Nerd Dinner";
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}


<h2>Host a Dinner</h2>

@Html.Partial("_DinnerForm"); 

