@inherits System.Web.Mvc.WebViewPage<NerdDinner.Models.Dinner>

@{
    View.Title = "Edit: " + Model.Title;
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Dinner</h2>

@Html.Partial("_DinnerForm");
