^	bool ShowHeadArea = false;
	
- if (ShowHeadArea == true)
	%link { rel="Stylesheet" type="text/css" href="/Resource/OpenIdSelector" } /
	%link { rel="Stylesheet" type="text/css" href="/Resource/OpenIdAjaxTextBox" } /