^	bool ShowHeadArea = false;
^	bool IncludeJQueryCookie = false;

- if (ShowHeadArea == true) 
	%link { rel="Stylesheet" type="text/css" href=#{ Url.Action("OpenIdSelector", "Resource")} } /
	%link { rel="Stylesheet" type="text/css" href=#{ Url.Action("OpenIdAjaxTextBox", "Resource")} } /
	- if (IncludeJQueryCookie == true) 
		%script { src=#{ Url.Content("~/Scripts/jquery.cookie.js") } type="text/javascript" } 