^	bool ShowSearch = false;
^	string MastHeadContent = "";

- if (ShowSearch == true) {
%div#hm-masthead
	%div#searchBox
		#div.search-text 
			Enter your location  or 
			!=Html.ActionLink("View All Upcoming Dinners", "Index", "Dinners")
			!=Html.TextBox("Location")
			%input { id="search" type="submit" value="Search" } /

- }

- if (MastHeadContent != "")
	=MastHeadContent
