^PageTitle = "Log On";
^ShowHeadArea = true;
^IncludeJQueryCookie = true;

%h2 Log On
!=Html.ValidationSummary("Login was unsuccessful. Please correct the errors and try again.")
%div#login-oauth
	%h3 via 3rd Party (recommended)
	_ LogOnContent
%div#or OR
%div#login-account
	%h3 using a NerdDinner account
	- using (Html.BeginForm())
		%div
			%p
				%label { for="username" } Username:
				!=Html.TextBox("username")
				!=Html.ValidationMessage("username", "*")
			%p
				%label { for="password" } Password:
				!=Html.Password("password")
				!=Html.ValidationMessage("password", "*")
			%p
				!=Html.CheckBox("rememberMe") 
				%label.inline { for="rememberMe" } Remember me?  
			%p
				%input.classiclogon { type="submit" value="Log On" } /
			%p
				Please enter your username and password. 
				!=Html.ActionLink("Register", "Register") 
				if you don't have an account.

- var options = new OpenIdSelector();
- options.TextBox.LogOnText = "Log On"; 
!=Html.OpenIdSelectorScripts(options, null)