@{
    ViewBag.Title = "Nerd Dinner";
}

<script src="http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.3" type="text/javascript"></script>
<script src="~/Scripts/NerdDinner.js" type="text/javascript"></script>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <h3>Find a Dinner</h3>
    <div id="theMap" style="position: relative; width: 580px; height: 400px;">
    </div>
</article>

<aside>
    <div class='hslice' id='2'>
        <h3>Popular Dinners</h3>
        <ul class="entry-content" id="dinnerList" data-bind="foreach: dinners">
            <li class="dinnerItem">
                <a data-bind="attr: { href: Url }, text: Title"></a>
                <br />
                <strong data-bind="dateString: EventDate, datePattern: 'mmm d'"></strong><span data-bind="rsvpMessage: RSVPCount"></span>
            </li>
        </ul>
        <a rel='feedurl' href='/Dinners/WebSlicePopular' style='display: none;'></a>
    </div>
</aside>

<script type="text/javascript">
    $().ready(function () {
        var interval = setInterval(function () {
            if ((eval("typeof VEMap") != "undefined") && (document.getElementById("theMap").attachEvent != undefined)) {
                clearInterval(interval);
                onMapLoaded();
            }
        }, 10);
    });

    function onMapLoaded() {
        NerdDinner.LoadMap();
        NerdDinner.FindMostPopularDinners(8);
    }
</script>
