!!!
%html
	%head
		%title =ViewData["Title"]
	%body { style="margin: 0" }
		%div { class="hslice" id="webslice" style="width: 320px" }
			%div.entry-content
				%center
					%h2.entry-title =ViewData["Title"]
			%ul
				- foreach (var dinner in Model)
					%li { style="list-style-type: none;" }
						!=Html.ActionLink(dinner.Title, "Details", new { id=dinner.DinnerID })
						on 
						%strong
							=dinner.EventDate.ToString("yyyy-MMM-dd")
							=dinner.EventDate.ToString("HH:mm tt")
						at 
						=dinner.Address + " " + dinner.Country
		%a { rel="Bookmark" href="http://www.nerddinner.com" style="display:none;" }
